<footer class="my-4 px-3 px-md-5">
    <div class="row footer-content">
        <div class="col-md-6">
            <p class="text-center">Contact: gtsalmon@gmail.com</p>
        </div>
        <div class="col-md-6">
            <p class="text-center">&copy; Gabriel Salmon 2026</p>
            <p class="text-center attribution">Site icon adapted from <a href="https://commons.wikimedia.org/wiki/File:Eo_circle_green_white_letter-g.svg" target="_blank" rel="noopener">Eo circle letter-g</a>, <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank" rel="noopener">CC BY-SA 4.0</a>.</p>
        </div>
    </div>
</footer>
