<nav class="vertical-nav site-nav" id="siteNav">
    <input type="checkbox" id="nav-toggle-box" class="nav-toggle-box" aria-label="Toggle navigation">
    <label for="nav-toggle-box" class="nav-toggle" aria-hidden="true">
        <span></span><span></span>
    </label>
    <div class="nav-links">
        <a href="index.html" class="nav-page-link" data-nav="home">Home</a>
        <a href="upcoming.html" class="nav-page-link" data-nav="upcoming">Upcoming Performances</a>
        <a href="previous.html" class="nav-page-link" data-nav="previous">Previous Work</a>
        <a href="lessons.html" class="nav-page-link" data-nav="lessons">Lessons</a>
    </div>
</nav>
